name: ArgMojo Unit Tests

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read

jobs:
  testing-argmojo:
    name: Test with ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-22.04", "macos-latest"]

    runs-on: ${{ matrix.os }}
    timeout-minutes: 15

    defaults:
      run:
        shell: bash
    env:
      DEBIAN_FRONTEND: noninteractive

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install pixi
        run: |
          curl -fsSL https://pixi.sh/install.sh | sh

      - name: Add pixi to PATH
        run: |
          echo "PIXI_HOME=$HOME/.pixi" >> $GITHUB_ENV
          echo "$HOME/.pixi/bin"  >> $GITHUB_PATH

      - name: Pixi install
        run: |
          pixi install

      - name: Build package
        run: |
          pixi run package

      - name: Run tests
        run: |
          pixi run test
